@font-face {
    font-family: 'THSarabunNew';
    src: url('../fonts/thsarabunnew-webfont.eot');
    src: url('../fonts/thsarabunnew-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/thsarabunnew-webfont.woff') format('woff'),
         url('../fonts/thsarabunnew-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'THSarabunNew';
    src: url('../fonts/thsarabunnew_bolditalic-webfont.eot');
    src: url('../fonts/thsarabunnew_bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/thsarabunnew_bolditalic-webfont.woff') format('woff'),
         url('../fonts/thsarabunnew_bolditalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'THSarabunNew';
    src: url('../fonts/thsarabunnew_italic-webfont.eot');
    src: url('../fonts/thsarabunnew_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/thsarabunnew_italic-webfont.woff') format('woff'),
         url('../fonts/thsarabunnew_italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'THSarabunNew';
    src: url('../fonts/thsarabunnew_bold-webfont.eot');
    src: url('../fonts/thsarabunnew_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/thsarabunnew_bold-webfont.woff') format('woff'),
         url('../fonts/thsarabunnew_bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}
@page {
    margin: 0 !important;
    padding: 0cm;
}
@media print {
    @page {
        margin: 0 !important;
        padding: 0cm;
    }
    .x_content {
        margin: 0 !important;
    }
    body {
        /* font-family: 'THSarabunNew', sans-serif; */
        -webkit-print-color-adjust: exact;
        margin: 0 !important;
        padding: 0cm;
    }
    .color{
        color: black !important;
    }
    .x_content .head_left{
        background: #3d3d3d !important;
        border: 1px solid #2f2f2f !important;
    }
    .x_content .text-head1{
        color: #ffffff !important;
    }
    .x_content .text-head2{
        color: #ffffff !important;
    }
    .x_content .color{
        color: #000 !important;
    }
    .x_content .bg-col{
        background-color: #f5f5f5 !important;
    }
    .x_content th{
        font-size:13px !important;
        color: #000 !important;
    } 
    .x_content td{
        font-size:13px !important;
        color: #000 !important;
    } 
    .x_content p{
        font-size:13px !important;
        color: #000 !important;
    }
    .x_content b{
        color: black !important;
        font-weight: bold;
    }           
}
body {
    /* font-family: 'THSarabunNew', sans-serif !important; */
}

.x_content {
    width: 80mm;
}
.x_content, h6 h5 h4 h3 h2 h1 {
    font-family: 'THSarabunNew', sans-serif !important;
}
.x_content p{
    font-family: 'THSarabunNew', sans-serif !important;
    font-size:13px !important;
    color: #000 !important;
}
.x_content th{
    font-size:13px !important;
    color: #000 !important;
}
.x_content td{
    font-size:12px !important;
    color: #000 !important;
}
.x_content table {
	vertical-align: baseline;
	    line-height: 0.3;
}
.x_content tr {
	vertical-align: baseline;
	    line-height: 0.3;
}
.x_content th {
	vertical-align: baseline;
	    line-height: 0.3;
}
.x_content td {
	vertical-align: baseline;
	    line-height: 0.3;
}

.x_content b {
    font-weight: normal;
    color: black !important;
}

.div-print {
    width: 690px;
    height: 480px;
    margin-top: 23px;
    margin-right: 15px;
    margin-left: 15px;
    border: 1px solid #D8D8D8;
    /*background-image: url("back-print.png");*/

}
.x_content .div-1 {

    margin-right: 25px;
    margin-left: 25px;
}
.x_content .div-2 {

    margin-right: 25px;
    margin-left: 25px;
}
.x_content .div-3 {

    margin-right: 25px;
    margin-left: 25px;
}
.x_content .div-4 {

    margin-right: 25px;
    margin-left: 25px;
}
.x_content .div-5 {

    margin-right: 25px;
    margin-left: 25px;
}

.x_content .button {  
	margin-right: 5px;
    padding-right: 19px;
    padding-left: 19px;
    display: inline-block;
    background-color: #676767;
    border: 1px solid #777;
    font: bold 1em/2em Arial, Helvetica;
    text-decoration: none;
    color: #FFF;
    border-radius: .2em;
}

.x_content .button:hover {
	color: #777;
    background-color: #FFFFFF;             
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}